* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", "Raleway", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  height: 100%;
  background: #1c5086;
}
#main #header {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 0.5em;
  color: #fff;
  width: 95%;
  /* height: 150px; */
  border-radius: 10px;
  background: rgba(16, 46, 77, 0.75);
}
#main #header .info {
  display: flex;
  flex-direction: column;
}
#main #header .info .number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 3em;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
#main #header .info .hit {
  animation: hitAnimation 2s ease-out infinite;
}
#main #header .info .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
}
#main #panel {
  overflow: hidden;
  width: 95%;
  height: calc(95% - 100px);
  background: white;
  border-radius: 10px;
}
#main #panel #body {
  height: 100%;
  padding: 1em;
  background: #0c253e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}
#main #panel #body .message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  height: 100%;
}
#main #panel #body .message .over {
  font-size: 3em;
  color: rgb(246, 61, 98);
  font-weight: 700;
}
#main #panel #body .message #startNew {
  background: teal;
  padding: 0.75em 1.7em;
  border-radius: 0.5em;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
#main #panel #body .message #startNew:hover {
  cursor: pointer;
  background: rgb(1, 86, 86);
  letter-spacing: 0.1em;
}
#main #panel #body .ball {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  transition: all 0.2s ease-in;
}
#main #panel #body .ball text {
  font-size: 1.5em;
  font-weight: 700;
  color: #27425e;
}
#main #panel #body .ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
}
#main #panel #body .ball:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  filter: blur(1px);
  z-index: 2;
  transform: rotateZ(-30deg);
}
#main #panel #body .ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-160px);
  z-index: 1;
}
#main #panel #body .ball.plain {
  background: black;
}
#main #panel #body .ball.plain:before, #main #panel #body .ball.plain:after {
  display: none;
}
#main #panel #body .ball.bubble {
  background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
}
#main #panel #body .ball.bubble:before {
  filter: blur(0);
  height: 80%;
  width: 40%;
  background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
#main #panel #body .ball.bubble:after {
  display: block;
  background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
}
#main #panel #body .ball:hover {
  cursor: pointer;
  animation: bubble-animation 2s ease-out infinite;
}
@keyframes bubble-animation {
  0% {
    transform: scale(1.2);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    transform: scale(1);
  }
}
@keyframes hitAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.85);
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  #main #panel #body {
    padding: 1.5em;
    gap: 1.5em;
  }
  #main #panel #body .ball {
    height: 5.6em;
    width: 5.6em;
  }
}
@media screen and (min-width: 1400px) {
  #main #panel #body {
    padding: 1.5em;
    gap: 1.5em;
  }
  #main #panel #body .ball {
    height: 8.5em;
    width: 8.5em;
  }
}/*# sourceMappingURL=styles.css.map */